#mainn{
    display: grid;
    height: 800px;
    grid-template-columns: auto auto auto auto auto;
    background-color: red;
    gap: 20px;
    padding: 20px;
}

#m1{
    grid-row-start: 1;
  grid-row-end: 3;
  grid-column-end: 4;
   grid-column-start: 1;
 
}
div{
    background-color: white;
}
#m2{
    grid-column-end: 6;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
}
#m3{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-end: 6;
    grid-column-start: 4;
}
#m4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: 6;
    grid-column-start: 4;
}